
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

  }
  
  li {
    float: left;

  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  
  li a:hover {
    background-color: #111;
  }
   
  /** bottom **/
  
  .bottomTop {
    padding: 30px;
    width: 100%;
    height: 400px;
  }

  .specials {
    border: 5px solid red;
  }

  .attendanceTotals{
    margin-left: 5%;
    width: 60%;
    height: 300px;
    border: 5px solid red;
  }

  .bottomBottom {
    padding: 30px;
    width: 100%;
    height: 400px;
  }

  .yourAttendanceThisWeek {
    width: 70%;
    height: 300px;
    border: 5px solid red;
  }
  
  .foodWishes {
    margin-left: 5%;

    width: 20%;
    height: 300px;
    border: 5px solid red;
  }

  .boxText {
    color: black;
    font-size: 20px;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    opacity: 0.7;
  } 
  
  
  /* media queries voor responsiveness */
  
  /* @media screen and (max-width: 1024px) {
    .bottom > div {
      width: 33%;
    }
  }
  
  @media screen and (min-width: 1024px) and (max-width: 1280px) {
    .bottom > div {
      width: 33%;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .bottom > div {
      width: 25%;
    }
  } */

      