
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

  }
  
  li {
    float: left;

  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  
  li a:hover {
    background-color: #111;
  }
   
  /** bottom **/
  
  .bottom {
    margin: 0.5vw;
    font-size: 0;
    flex-flow: row wrap;
    display: flex;
    height: 200px;
  }
  
  .bottom div {
    flex: auto;
    width: 200px;
    margin: 0.5vw;
    border-style: solid;
    border-color: black;
  }
  
  .bottom div {
    width: 100%;
  }
  
  .bottom > div {
    position: relative;
  }
  
  .boxText {
    color: black;
    font-size: 20px;
    top: 0;
    height: 12%;
    width: 100%;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    opacity: 0.7;
    position: absolute;
    text-align: center;
  }
  
  
  /* media queries voor responsiveness */
  
  @media screen and (max-width: 1024px) {
    .bottom > div {
      width: 33%;
    }
  }
  
  @media screen and (min-width: 1024px) and (max-width: 1280px) {
    .bottom > div {
      width: 33%;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .bottom > div {
      width: 25%;
    }
  }

      